<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>가입하기 • Outstagram</title>
    <th:block th:replace="component/config :: config"></th:block>
    <link rel="stylesheet" href="../css/memberSave.css">
</head>
<body>
<section class="save-section">
    <main class="save-section-main">
        <div class="save-section-main-inner">

            <!--레이아웃 시작입니다-->
            <div id="memberSave-birth-guide" style="display: none;">
                <div style="z-index: 3;position: relative;">
                    <div style="box-sizing: border-box;">
                        <div style="min-height: 100vh;flex-direction: column;display: flex;position: relative;">
                            <div style="position: fixed;right: 0;background-color: rgba(0, 0, 0, 0.65);bottom: 0;left: 0;top: 0;"></div>
                            <div class="layout-1">
                                <div class="layout-2">
                                    <div class="layout-3">
                                        <div class="layout-line">
                                            <div class="layout-box">
                                                <div></div>
                                                <div class="layout-box-inner">
                                                    <div class="layout-box-inner-line">
                                                        <div class="layout-title-line">
                                                            <div class="layout-title-line1">
                                                                <div class="layout-title">
                                                                    <h1 class="layout-title-text">
                                                                        <div class="">생일</div>
                                                                    </h1>
                                                                </div>
                                                                <div class="blinc"></div>

                                                                <!--레이아웃 오프-->
                                                                <div class="layout-off-btn-box">
                                                                    <div class="layout-off-btn-box-inner">
                                                                        <button type="button" class="layout-off-btn"
                                                                                onclick="birthGuide_off()">
                                                                            <div class="layout-off-btn-img-box">
                                                                                <svg aria-label="닫기"
                                                                                     class="x1lliihq x1n2onr6"
                                                                                     color="rgb(0, 0, 0)"
                                                                                     fill="rgb(0, 0, 0)"
                                                                                     height="18" role="img"
                                                                                     viewBox="0 0 24 24"
                                                                                     width="18">
                                                                                    <title>닫기</title>
                                                                                    <polyline fill="none"
                                                                                              points="20.643 3.357 12 12 3.353 20.647"
                                                                                              stroke="currentColor"
                                                                                              stroke-linecap="round"
                                                                                              stroke-linejoin="round"
                                                                                              stroke-width="3"></polyline>
                                                                                    <line fill="none"
                                                                                          stroke="currentColor"
                                                                                          stroke-linecap="round"
                                                                                          stroke-linejoin="round"
                                                                                          stroke-width="3"
                                                                                          x1="20.649" x2="3.354"
                                                                                          y1="20.649"
                                                                                          y2="3.354"></line>
                                                                                </svg>
                                                                            </div>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="layout-contents-box">
                                                            <div class="layout-contents-img-cover">
                                                                <span class="layout-contents-img"></span>
                                                            </div>
                                                            <div class="layout-contents-tag-box">
                                                                <span class="layout-contents-tag">Instagram에 표시되는 생일</span>
                                                            </div>
                                                            <div class="layout-contents-text-box">
                                                        <span class="layout-contents-text">
                                                            생일을 입력하면 기능과 회원님에게 표시되는 광고가 개선되며 Outstagram 커뮤니티를 안전하게 유지하는 데 도움이 됩니다. 입력한 생일은 개인 정보 계정 설정에서 확인할 수 있습니다.
                                                        </span>
                                                            </div>
                                                        </div>

                                                        <div class="layout-guide-btn-box">
                                                            <div class="layout-guide-btn-box-inner">
                                                                <a href="https://help.instagram.com/155833707900388"
                                                                   class="layout-guide-btn-text" target="_blank">더
                                                                    알아보기</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--슬라이드 쇼 시작입니다-->
            <div class="index-main-inner-block1">
                <div class="main-block1-inner" id="main-block1-inner">
                    <img src="../images/indexImages/screenshot1.png" class="show block1-inner-item">
                    <img src="../images/indexImages/screenshot2.png" class="show block1-inner-item3">
                    <img src="../images/indexImages/screenshot3.png" class="show block1-inner-item3">
                    <img src="../images/indexImages/screenshot4.png" class="show block1-inner-item3">
                </div>
            </div>
            <div class="_ab1y">
                <div class="_ab21">
                    <div class="save-main-logo" id="save-main-logo1">
                        <div class="save-main-logo-box">
                            <img src="../images/indexImages/outtest.png" class="boardMain-nav-svg" style="width: 200px;height: 55px;">
                        </div>
                    </div>
                    <div id="marginTag" style="margin-bottom: 20px;">

                        <!--회원가입 form 시작입니다-->
                        <form class="memberSaveForm" method="post" action="/member/save" onsubmit="return signup_check()">
                            <div id="memberSaveForm-menu1" style="display: flex;flex-direction: column;">
                                <h2 class="memberSaveForm-tag">친구들의 사진과 동영상을 보려면 가입하세요.</h2>
                                <div class="memberSaveForm-loginForm">

                                    <!--api 로그인 사용 버튼-->

                                        <button type="button" class="loginForm-api-btn" onclick="redirectToKakaoLogin()">
                                            <span><img src="../images/indexImages/KakaoLogo.png" class="KakaoLogo"></span>
                                            Kakao으로 로그인
                                        </button>
                                </div>
                                <div style="margin: 10px 40px 18px;">
                                    <div style="display: flex;flex-direction: row;">
                                        <div class="borderLine"></div>
                                        <div class="borderLine-text">또는</div>
                                        <div class="borderLine"></div>
                                    </div>
                                </div>

                                <!--여기서 부터 saveForm input 태그 입니다-->
                                <div style="margin: 0 40px 6px;">
                                    <div class="memberSaveForm-input-box" id="inputBoxEmail">
                                        <label class="_aa48">
                                            <span class="memberSaveForm-input-tag" id="email-input-tag">이메일 주소</span>
                                            <input type="text" class="memberSaveForm-input" id="memberSaveForm-input1"
                                                   minlength="1" name="memberEmail">
                                        </label>
                                        <div class="input-value-check-img">
                                            <span id="email-check-icon"></span>
                                        </div>
                                    </div>
                                </div>
                                <div style="margin: 0 40px 6px;">
                                    <div class="memberSaveForm-input-box" id="inputBoxName">
                                        <label class="_aa48">
                                            <span class="memberSaveForm-input-tag" id="name-input-tag">성명</span>
                                            <input type="text" class="memberSaveForm-input" id="memberSaveForm-input2"
                                                   minlength="2" name="memberName" >
                                        </label>
                                        <div class="input-value-check-img">
                                            <span id="name-check-icon"></span>
                                        </div>
                                    </div>
                                </div>
                                <div style="margin: 0 40px 6px;">
                                    <div class="memberSaveForm-input-box" id="inputBoxNick">
                                        <label class="_aa48">
                                            <span class="memberSaveForm-input-tag" id="nickName-input-tag">사용자 이름</span>
                                            <input type="text" class="memberSaveForm-input" id="memberSaveForm-input3"
                                                   minlength="2" name="memberNickName" >
                                        </label>
                                        <div class="input-value-check-img">
                                            <span id="nickname-check-icon"></span>
                                            <div class="nickName-Random-b">
                                                <button type="button" class="Random-btn">
                                                    <span class="Random-btn-txt"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="margin: 0 40px 6px;">
                                    <div class="memberSaveForm-input-box" id="inputBoxPass">
                                        <label class="_aa48">
                                            <span class="memberSaveForm-input-tag" id="pass-input-tag">비밀번호</span>
                                            <input type="password" class="memberSaveForm-input"
                                                   id="memberSaveForm-input4"
                                                   minlength="5"
                                                   name="memberPassword">
                                        </label>
                                        <div class="input-value-check-img">
                                            <span id="password-check-icon"></span>
                                        </div>
                                        <div><span id="input-type-change"></span></div>
                                    </div>
                                </div>
                                <p class="tip-tull">
                                <span class="tip-tull-inner">
                                    저희 서비스를 이용하는 사람이 회원님의 연락처 정보를 Instagram에 업로드했을 수도 있습니다.
                                    <a class="goging-tip-tull-site"
                                       href="https://www.facebook.com/help/instagram/261704639352628">더 알아보기</a>
                                </span>
                                </p>
                                <div>
                                    <div class="memberSaveForm-submit-btn-box">
                                        <button class="memberSaveForm-submit-btn" id="memberSaveForm-submit-btn"
                                                disabled
                                                type="button" onclick="memberSaveForm_menu2Open()">가입
                                        </button>
                                    </div>
                                </div>
                                <span id="sign-up-valid-result" style="text-align: center"></span>
                            </div>

                            <!--멤버 생일을 입력받는 공간의 display-->
                            <div class="memberSaveForm-birth" id="memberSaveForm-menu2" style="display: none;">
                                <span class="save-main2-logo-item" id="save-main-logo2" style="display: flex;"></span>
                                <div class="memberSaveForm-birth-text-box">
                                    <span class="memberSaveForm-birth-text">
                                        생일 추가
                                    </span>
                                </div>
                                <div class="memberSaveForm-birth-text-box">
                                    <span class="memberSaveForm-birth-text2">
                                        공개 프로필에 포함되지 않습니다.
                                    </span>
                                </div>
                                <div class="memberSaveForm-birth-guide-box">
                                    <button type="button" class="memberSaveForm-Birth-guide-btn"
                                            onclick="birthGuide_on()">
                                        <span class="memberSaveForm-birth-text3">
                                            왜 생년월일을 입력해야 하나요?
                                        </span>
                                    </button>
                                </div>

                                <!--멤버 생일을 입력받는 select 가 담긴 공간-->
                                <div class="memberSaveForm-birth-select-box">
                                    <div>
                                        <div class="memberSaveForm-birth-select-box-inner">
                                            <span style="height: 44px;">
                                                <span class="_aav3">
                                                    <span class="memberSaveForm-birth-select-img"></span>
                                                    <select class="memberSaveForm-birth-select" id="memberBirth-MM"
                                                            title="월:" name="memberBirthM">
                                                        <option title="1월" value="1">1월</option>
                                                        <option title="1월" value="1">1월</option>
                                                        <option title="2월" value="2">2월</option>
                                                        <option title="3월" value="3">3월</option>
                                                        <option title="4월" value="4">4월</option>
                                                        <option title="5월" value="5">5월</option>
                                                        <option title="6월" value="6">6월</option>
                                                        <option title="7월" value="7">7월</option>
                                                        <option title="8월" value="8">8월</option>
                                                        <option title="9월" value="9">9월</option>
                                                        <option title="10월" value="10">10월</option>
                                                        <option title="11월" value="11">11월</option>
                                                        <option title="12월" value="12">12월</option>
                                                    </select>
                                                </span>
                                                <span class="_aav3">
                                                    <span class="memberSaveForm-birth-select-img"></span>
                                                    <select class="memberSaveForm-birth-select" id="memberBirth-DD"
                                                            title="일:" name="memberBirthD">
                                                        <option title="1" value="1">1</option>
                                                        <option title="2" value="2">2</option>
                                                        <option title="3" value="3">3</option>
                                                        <option title="4" value="4">4</option>
                                                        <option title="5" value="5">5</option>
                                                        <option title="6" value="6">6</option>
                                                        <option title="7" value="7">7</option>
                                                        <option title="8" value="8">8</option>
                                                        <option title="9" value="9">9</option>
                                                        <option title="10" value="10">10</option>
                                                        <option title="11" value="11">11</option>
                                                        <option title="12" value="12">12</option>
                                                        <option title="13" value="13">13</option>
                                                        <option title="14" value="14">14</option>
                                                        <option title="15" value="15">15</option>
                                                        <option title="16" value="16">16</option>
                                                        <option title="17" value="17">17</option>
                                                        <option title="18" value="18">18</option>
                                                        <option title="19" value="19">19</option>
                                                        <option title="20" value="20">20</option>
                                                        <option title="21" value="21">21</option>
                                                        <option title="22" value="22">22</option>
                                                        <option title="23" value="23">23</option>
                                                        <option title="24" value="24">24</option>
                                                        <option title="25" value="25">25</option>
                                                        <option title="26" value="26">26</option>
                                                        <option title="27" value="27">27</option>
                                                        <option title="28" value="28">28</option>
                                                        <option title="29" value="29">29</option>
                                                        <option title="30" value="30">30</option>
                                                    </select>
                                                </span>
                                                <span class="_aav3">
                                                    <span class="memberSaveForm-birth-select-img"></span>
                                                    <select class="memberSaveForm-birth-select" id="memberBirth-YY"
                                                            title="연도:" name="memberBirthY">
                                                        <option title="2023" value="2023">2023</option>
                                                        <option title="2022" value="2022">2022</option>
                                                        <option title="2021" value="2021">2021</option>
                                                        <option title="2020" value="2020">2020</option>
                                                        <option title="2019" value="2019">2019</option>
                                                        <option title="2018" value="2018">2018</option>
                                                        <option title="2017" value="2017">2017</option>
                                                        <option title="2016" value="2016">2016</option>
                                                        <option title="2015" value="2015">2015</option>
                                                        <option title="2014" value="2014">2014</option>
                                                        <option title="2013" value="2013">2013</option>
                                                        <option title="2012" value="2012">2012</option>
                                                        <option title="2011" value="2011">2011</option>
                                                        <option title="2010" value="2010">2010</option>
                                                        <option title="2009" value="2009">2009</option>
                                                        <option title="2008" value="2008">2008</option>
                                                        <option title="2007" value="2007">2007</option>
                                                        <option title="2006" value="2006">2006</option>
                                                        <option title="2005" value="2005">2005</option>
                                                        <option title="2004" value="2004">2004</option>
                                                        <option title="2003" value="2003">2003</option>
                                                        <option title="2002" value="2002">2002</option>
                                                        <option title="2001" value="2001">2001</option>
                                                        <option title="2000" value="2000">2000</option>
                                                        <option title="1999" value="1999">1999</option>
                                                        <option title="1998" value="1998">1998</option>
                                                        <option title="1997" value="1997">1997</option>
                                                        <option title="1996" value="1996">1996</option>
                                                        <option title="1995" value="1995">1995</option>
                                                        <option title="1994" value="1994">1994</option>
                                                        <option title="1993" value="1993">1993</option>
                                                        <option title="1992" value="1992">1992</option>
                                                        <option title="1991" value="1991">1991</option>
                                                        <option title="1990" value="1990">1990</option>
                                                        <option title="1989" value="1989">1989</option>
                                                        <option title="1988" value="1988">1988</option>
                                                        <option title="1987" value="1987">1987</option>
                                                        <option title="1986" value="1986">1986</option>
                                                        <option title="1985" value="1985">1985</option>
                                                        <option title="1984" value="1984">1984</option>
                                                        <option title="1983" value="1983">1983</option>
                                                        <option title="1982" value="1982">1982</option>
                                                        <option title="1981" value="1981">1981</option>
                                                        <option title="1980" value="1980">1980</option>
                                                        <option title="1979" value="1979">1979</option>
                                                        <option title="1978" value="1978">1978</option>
                                                        <option title="1977" value="1977">1977</option>
                                                        <option title="1976" value="1976">1976</option>
                                                        <option title="1975" value="1975">1975</option>
                                                        <option title="1974" value="1974">1974</option>
                                                        <option title="1973" value="1973">1973</option>
                                                        <option title="1972" value="1972">1972</option>
                                                        <option title="1971" value="1971">1971</option>
                                                        <option title="1970" value="1970">1970</option>
                                                        <option title="1969" value="1969">1969</option>
                                                        <option title="1968" value="1968">1968</option>
                                                        <option title="1967" value="1967">1967</option>
                                                        <option title="1966" value="1966">1966</option>
                                                        <option title="1965" value="1965">1965</option>
                                                        <option title="1964" value="1964">1964</option>
                                                        <option title="1963" value="1963">1963</option>
                                                        <option title="1962" value="1962">1962</option>
                                                        <option title="1961" value="1961">1961</option>
                                                        <option title="1960" value="1960">1960</option>
                                                        <option title="1959" value="1959">1959</option>
                                                        <option title="1958" value="1958">1958</option>
                                                        <option title="1957" value="1957">1957</option>
                                                        <option title="1956" value="1956">1956</option>
                                                        <option title="1955" value="1955">1955</option>
                                                        <option title="1954" value="1954">1954</option>
                                                        <option title="1953" value="1953">1953</option>
                                                        <option title="1952" value="1952">1952</option>
                                                        <option title="1951" value="1951">1951</option>
                                                        <option title="1950" value="1950">1950</option>
                                                        <option title="1949" value="1949">1949</option>
                                                        <option title="1948" value="1948">1948</option>
                                                        <option title="1947" value="1947">1947</option>
                                                        <option title="1946" value="1946">1946</option>
                                                        <option title="1945" value="1945">1945</option>
                                                        <option title="1944" value="1944">1944</option>
                                                        <option title="1943" value="1943">1943</option>
                                                        <option title="1942" value="1942">1942</option>
                                                        <option title="1941" value="1941">1941</option>
                                                        <option title="1940" value="1940">1940</option>
                                                        <option title="1939" value="1939">1939</option>
                                                        <option title="1938" value="1938">1938</option>
                                                        <option title="1937" value="1937">1937</option>
                                                        <option title="1936" value="1936">1936</option>
                                                        <option title="1935" value="1935">1935</option>
                                                        <option title="1934" value="1934">1934</option>
                                                        <option title="1933" value="1933">1933</option>
                                                        <option title="1932" value="1932">1932</option>
                                                        <option title="1931" value="1931">1931</option>
                                                        <option title="1930" value="1930">1930</option>
                                                        <option title="1929" value="1929">1929</option>
                                                        <option title="1928" value="1928">1928</option>
                                                        <option title="1927" value="1927">1927</option>
                                                        <option title="1926" value="1926">1926</option>
                                                        <option title="1925" value="1925">1925</option>
                                                        <option title="1924" value="1924">1924</option>
                                                        <option title="1923" value="1923">1923</option>
                                                        <option title="1922" value="1922">1922</option>
                                                        <option title="1921" value="1921">1921</option>
                                                        <option title="1920" value="1920">1920</option>
                                                        <option title="1919" value="1919">1919</option>
                                                    </select>
                                                </span>
                                            </span>
                                            <div class="memberSaveForm-birth-guide-line">
                                                <div class="memberSaveForm-birth-guide-line-text">태어난 날짜를 입력해야 합니다</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="memberSaveForm-birth-guide-line2">
                                    <div class="memberSaveForm-birth-guide-line2-inner">
                                        <div class="memberSaveForm-birth-guide-line-text">
                                            비즈니스나 반려동물 등을 위한 계정인 경우에도 회원님의 생년월일을 사용하세요
                                        </div>
                                    </div>
                                </div>
                                <div class="memberSaveForm-birth-checkBox">

                                    <!--인증 메일 보내기 기능 추가해야함-->
                                    <button type="button" class="memberSaveForm-birth-checkBtn" id="nextBtn" disabled
                                            onclick="memberSaveForm_menu3Open()">
                                        다음
                                    </button>
                                </div>
                                <div class="memberSaveForm-back-btn-box">
                                    <button type="button" class="memberSaveForm-back-btn"
                                            onclick="memberSaveForm_menu2Open()">돌아가기
                                    </button>
                                </div>
                            </div>

                            <!--이메일 인증을 받는 input 위치-->
                            <div class="memberSaveForm-emailAuth" id="memberSaveForm-menu3" style="display: none;">
                                <span aria-label="이메일 확인" class="memberSaveForm-emailAuth-logo"></span>
                                <div class="memberSaveForm-emailAuth-title-box">
                                    <span class="memberSaveForm-emailAuth-title">
                                        인증 코드 입력
                                    </span>
                                </div>
                                <div class="memberSaveForm-emailAuth-tag-box">
                                    <span class="memberSaveForm-emailAuth-tag-text" id="memberSaverForm-emailForAuth">

                                    </span>
                                </div>
                            </div>
                            <div class="memberSaveForm-emailAuth-item-box" id="memberSaveFrom-input-box"
                                 style="display: none;">

                                <!--minlength js. 추가해야함 6자리-->
                                <div class="memberSaveForm-emailAuth-item-box-inner">
                                    <div class="memberSaveForm-emailAuth-item">
                                        <input type="text" placeholder="인증 코드" class="memberSaveForm-emailAuth-input"
                                               minlength="6" id="emailAuth-input" oninput="checkInputLength()">
                                    </div>

                                    <!--처리 완료 후 index로 이동-->
                                    <div class="memberSaveForm-emailAuth-item1">
                                        <button class="memberSaveForm-emailAuth-btn" disabled="" type="submit">다음
                                        </button>
                                    </div>

                                    <!--인증 메일 발송 재활용-->
                                    <div class="memberSaveForm-emailAuth-reAuth-box">
                                        <div class="memberSaveForm-emailAuth-reAuth" role="button" id="resendBtn">코드 재전송</div>
                                    </div>
                                    <div>
                                        <div id="emailAuth-warn"></div>
                                    </div>
                                </div>

                            </div>

                        </form>
                    </div>
                </div>
                <div class="_ab21">
                    <p class="_ab25">
                        계정이 있으신가요?
                        <a href="/" class="goging-login-form">로그인</a>
                    </p>
                </div>
            </div>
        </div>

    </main>
</section>
<div th:replace="component/component :: footer"></div>
<!--<div class="_acb4">-->
<!--    <div class="_acba _abmn">-->
<!--        <div class="_abmo"><p class="_abmp">죄송합니다. 현재 인증 코드를 보내는 중 문제가 발생했습니다. 나중에 다시 시도해주세요.</p></div>-->
<!--    </div>-->
<!--</div>-->
</body>
<script>
    $(document).ready(function () {
        const slides = $(".show");
        let currentSlide = 0;

        function showSlide() {
            slides.removeClass("block1-inner-item3");
            slides.removeClass("block1-inner-item2");
            slides.removeClass("block1-inner-item");

            slides.eq(currentSlide).addClass("block1-inner-item2");

            const nextSlide = (currentSlide + 1) % slides.length;
            slides.eq(nextSlide).removeClass("block1-inner-item2");
            slides.eq(nextSlide).addClass("block1-inner-item");

            slides.not(slides.eq(currentSlide)).not(slides.eq(nextSlide)).addClass("block1-inner-item3");

            currentSlide = nextSlide;
        }

        setInterval(showSlide, 5000); // 5초마다 슬라이드 변경
    });

    const memberEmailTag = document.getElementById('email-input-tag');
    const inputElementEmail = document.getElementById('memberSaveForm-input1');
    const inputBoxEmail = document.getElementById('inputBoxEmail');

    const memberNameTag = document.getElementById('name-input-tag');
    const inputElementName = document.getElementById('memberSaveForm-input2');
    const inputBoxName = document.getElementById('inputBoxName');

    const memberNickNameTag = document.getElementById('nickName-input-tag');
    const inputElementNick = document.getElementById('memberSaveForm-input3');
    const inputBoxNick = document.getElementById('inputBoxNick');

    const memberPassTag = document.getElementById('pass-input-tag');
    const inputElementPass = document.getElementById('memberSaveForm-input4');
    const inputBoxPass = document.getElementById('inputBoxPass');

    const selectElementYY = document.getElementById('memberBirth-YY');
    const selectElementMM = document.getElementById('memberBirth-MM');
    const selectElementDD = document.getElementById('memberBirth-DD');

    const emailForAuth = document.getElementById("memberSaverForm-emailForAuth");

    selectElementYY.addEventListener('mousedown', function () {
        selectElementYY.style.borderColor = "red";
    });
    selectElementYY.addEventListener('mouseup', function () {
        selectElementYY.style.borderColor = "rgb(219, 219, 219)";
    });
    selectElementMM.addEventListener('mousedown', function () {
        selectElementMM.style.borderColor = "red";
    });
    selectElementMM.addEventListener('mouseup', function () {
        selectElementMM.style.borderColor = "rgb(219, 219, 219)";
    });
    selectElementDD.addEventListener('mousedown', function () {
        selectElementDD.style.borderColor = "red";
    });
    selectElementDD.addEventListener('mouseup', function () {
        selectElementDD.style.borderColor = "rgb(219, 219, 219)";
    });

    inputElementEmail.addEventListener('input', function () {
        if (inputElementEmail.value !== '') {
            memberEmailTag.classList.add('plug');
            inputElementEmail.classList.add('input-plug');
        } else {
            memberEmailTag.classList.remove('plug');
            inputElementEmail.classList.remove('input-plug');
        }
    });
    inputElementName.addEventListener('input', function () {
        if (inputElementName.value !== '') {
            memberNameTag.classList.add('plug');
            inputElementName.classList.add('input-plug');
        } else {
            memberNameTag.classList.remove('plug');
            inputElementName.classList.remove('input-plug');
        }
    });
    inputElementNick.addEventListener('input', function () {
        if (inputElementNick.value !== '') {
            memberNickNameTag.classList.add('plug');
            inputElementNick.classList.add('input-plug');
        } else {
            memberNickNameTag.classList.remove('plug');
            inputElementNick.classList.remove('input-plug');
        }
    });
    inputElementPass.addEventListener('input', function () {
        if (inputElementPass.value !== '') {
            memberPassTag.classList.add('plug');
            inputElementPass.classList.add('input-plug');
        } else {
            memberPassTag.classList.remove('plug');
            inputElementPass.classList.remove('input-plug');
        }
    })
    inputElementEmail.addEventListener('focus', function () {
        inputBoxEmail.classList.add('input-box-plug');
    });
    inputElementPass.addEventListener('focus', function () {
        inputBoxPass.classList.add('input-box-plug');
    });
    inputElementName.addEventListener('focus', function () {
        inputBoxName.classList.add('input-box-plug');
    });
    inputElementNick.addEventListener('focus', function () {
        inputBoxNick.classList.add('input-box-plug');
    });
    inputElementEmail.addEventListener('blur', function () {
        inputBoxEmail.classList.remove('input-box-plug');
    });

    inputElementPass.addEventListener('blur', function () {
        inputBoxPass.classList.remove('input-box-plug');
    });
    inputElementName.addEventListener('blur', function () {
        inputBoxName.classList.remove('input-box-plug');
    });

    inputElementNick.addEventListener('blur', function () {
        inputBoxNick.classList.remove('input-box-plug');
    });

    inputElementEmail.addEventListener("input", checkInputs);
    inputElementPass.addEventListener("input", checkInputs);

    function checkInputs() {
        const minLength1 = parseInt(inputElementEmail.getAttribute("minlength"));
        const minLength2 = parseInt(inputElementPass.getAttribute("minlength"));
        const minLength3 = parseInt(inputElementName.getAttribute("minlength"));
        const minLength4 = parseInt(inputElementNick.getAttribute("minlength"));
        const loginFormBtn = document.getElementById('memberSaveForm-submit-btn');

        if (inputElementEmail.value.length < minLength1 || inputElementPass.value.length < minLength2 || inputElementName.value.length < minLength3 || inputElementNick.value.length < minLength4) {
            loginFormBtn.disabled = true;
        } else {
            loginFormBtn.disabled = false;
        }
    }

    const memberSaveForm_menu2Open = () => {
        console.log("확인용" + isValidForm());
        if (!isValidForm()) {
            return;
        }
        const memberSaveFormMenu1 = document.getElementById('memberSaveForm-menu1');
        const memberSaveFormMenu2 = document.getElementById('memberSaveForm-menu2');
        const memberSaveLogo1 = document.getElementById('save-main-logo1');
        const memberSaveLogo2 = document.getElementById('save-main-logo2');
        const marginTag = document.getElementById('marginTag');
        if (memberSaveFormMenu2.style.display == "none") {
            memberSaveFormMenu1.style.display = "none";
            memberSaveLogo1.style.display = "none";
            marginTag.style.marginBottom = "unset";
            memberSaveFormMenu2.style.display = "flex";
            memberSaveLogo2.style.display = "flex";
        } else {
            memberSaveFormMenu2.style.display = "none";
            memberSaveLogo2.style.display = "none";
            memberSaveFormMenu1.style.display = "flex";
            memberSaveLogo1.style.display = "flex";
            marginTag.style.marginBottom = "20px";
        }
    }
    const memberSaveForm_menu3Open = () => {
        const memberSaveFormMenu2 = document.getElementById('memberSaveForm-menu2');
        const memberSaveFormMenu3 = document.getElementById('memberSaveForm-menu3');
        const memberSaveLogo2 = document.getElementById('save-main-logo2');
        const memberSaveAuth = document.getElementById('memberSaveFrom-input-box');
        if (memberSaveFormMenu2.style.display == "flex") {
            memberSaveFormMenu2.style.display = "none";
            memberSaveLogo2.style.display = "none";
            memberSaveFormMenu3.style.display = "flex";
            memberSaveAuth.style.display = "flex";
        }
    }
    const birthGuide_on = () => {
        const birthGuide = document.getElementById('memberSave-birth-guide');
        birthGuide.style.display = "block";
    }
    const birthGuide_off = () => {
        const birthGuide = document.getElementById('memberSave-birth-guide');
        birthGuide.style.display = "none";
    }
    const memberBirthYY = document.getElementById('memberBirth-YY');
    memberBirthYY.addEventListener('change', checkSelect);

    function checkSelect() {
        let selectResult = parseInt(memberBirthYY.value);
        const nextBtn = document.getElementById('nextBtn');

        if (selectResult > 2018) {
            nextBtn.disabled = true;
        } else {
            nextBtn.disabled = false;
        }
    }

    function updateEmailForAuth() {
        const email = inputElementEmail.value;
        emailForAuth.textContent = `${email} 주소로 전송된 인증 코드를 입력하세요.`;
    }

    inputElementEmail.addEventListener('input', updateEmailForAuth);

    function checkInputLength() {
        const inputCode = $('.memberSaveForm-emailAuth-input').val();
        const submitButton = $('.memberSaveForm-emailAuth-btn');

        if (inputCode.length >= 6) {
            submitButton.prop('disabled', false);
        } else {
            submitButton.prop('disabled', true);
        }
    }


    let code;

    // $('#nextBtn').click(function() {
    //     const authEmail = $('#memberSaveForm-input1').val();
    //     console.log("이메일 확인용: " + authEmail);
    //
    //     axios.get('/member/mailAuth', {
    //         params: {
    //             email: authEmail
    //         }
    //     }).then(function(response) {
    //         console.log(response.data);
    //         code = response.data;
    //         alert("인증번호가 전송되었습니다");
    //     }).catch(function(error) {
    //         console.log(error);
    //     });
    // });

    function sendEmailAuthCode() {
        const authEmail = $('#memberSaveForm-input1').val();
        console.log("이메일 확인용: " + authEmail);

        axios.get('/member/mailAuth', {
            params: {
                email: authEmail
            }
        }).then(function(response) {
            console.log(response.data);
            code = response.data;
            // alert("인증번호가 전송되었습니다");
        }).catch(function(error) {
            console.log(error);
        });
    }

    $('#nextBtn').click(sendEmailAuthCode);
    $('#resendBtn').click(sendEmailAuthCode);


    let isCodeValid = false;

    // 인증번호 비교
    // blur -> focus가 벗어나는 경우 발생
    $('#emailAuth-input').blur(function () {
        const inputCode = $(this).val();
        const $resultMsg = $('#emailAuth-warn');

        if(parseInt(inputCode) === parseInt(code)){
            // $resultMsg.html('인증번호가 일치합니다.');
            // $resultMsg.css('color','green');
            $resultMsg.html('');
            isCodeValid = true;
        }else{
            $resultMsg.html('코드가 유효하지 않습니다. 새 코드를 요청하세요.');
            $resultMsg.css('color','red');
            isCodeValid = false;
        }
    });

    // 이메일 유효성 검사
    function emailBlurHandler() {
        const inputEmail = $('#memberSaveForm-input1').val();
        const emailCheckIcon = $('#email-check-icon');
        const exp = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
        let pass = false;

        $.ajax({
            method: "POST",
            url: `/member/email-check/${inputEmail}`,
            data: JSON.stringify({ memberEmail: inputEmail }),
            contentType: "application/json",
            async: false,
            success: function(res) {
                console.log("이메일" + res);
                if (res === true) {
                    emailCheckIcon.removeClass();
                    emailCheckIcon.addClass('input-value-check-img-item1');
                    pass = true;
                } else {
                    emailCheckIcon.removeClass();
                    emailCheckIcon.addClass('input-value-check-img-item');
                    pass = false;
                }
            },
            error: function(err) {
                emailCheckIcon.removeClass();
                emailCheckIcon.addClass('input-value-check-img-item');
                pass = false;
            }
        });

        return pass;
    }

    $('#memberSaveForm-input1').blur(emailBlurHandler);


    // 이름 유효성 검사
    const nameBlurHandler = function () {
        const inputName = $('#memberSaveForm-input2').val();
        const nameCheckIcon = $('#name-check-icon');
        const exp = /^([A-Za-z\s.'-]{4,}|[가-힣]{2,4})$/;

        if (inputName === '') {
            nameCheckIcon.removeClass();
            nameCheckIcon.addClass('input-value-check-img-item');
            return false;
        } else if (!exp.test(inputName)){
            nameCheckIcon.removeClass();
            nameCheckIcon.addClass('input-value-check-img-item');
            return false;
        } else {
            nameCheckIcon.removeClass();
            nameCheckIcon.addClass('input-value-check-img-item1');
            return true;
        }
    }

    $('#memberSaveForm-input2').blur(nameBlurHandler);

    // 사용자 이름 유효성 검사
    function nicknameBlurHandler() {
        const inputNickname = $('#memberSaveForm-input3').val();
        const nicknameCheckIcon = $('#nickname-check-icon');
        const exp = /^(?!.*[._])[\w.]{4,20}$/;
        let pass = false;

        $.ajax({
            method: "POST",
            url: `/member/nickname-check/${inputNickname}`,
            data: JSON.stringify({ memberNickName: inputNickname }),
            contentType: "application/json",
            async: false,
            success: function(res) {
                console.log("닉네임" + res);
                if (res === true) {
                    nicknameCheckIcon.removeClass();
                    nicknameCheckIcon.addClass('input-value-check-img-item1');
                    pass = true;
                } else {
                    nicknameCheckIcon.removeClass();
                    nicknameCheckIcon.addClass('input-value-check-img-item');
                    pass = false;
                }
            },
            error: function(err) {
                nicknameCheckIcon.removeClass();
                nicknameCheckIcon.addClass('input-value-check-img-item');
                pass = false;
            }
        });

        return pass;
    }

    $('#memberSaveForm-input3').blur(nicknameBlurHandler);

    // 비밀번호 유효성 검사
    const passwordBlurHandler = function () {
        const inputPassword = $('#memberSaveForm-input4').val();
        const passwordCheckIcon = $('#password-check-icon');
        const exp = /^(?=.*\d)(?=.*[a-zA-Z])(?=.*[!$@%])[a-zA-Z\d!$@%]{6,15}$/;

        if (inputPassword === '') {
            passwordCheckIcon.removeClass();
            passwordCheckIcon.addClass('input-value-check-img-item');
            return false;
        } else if (!exp.test(inputPassword)) {
            passwordCheckIcon.removeClass();
            passwordCheckIcon.addClass('input-value-check-img-item');
            return false;
        } else {
            passwordCheckIcon.removeClass();
            passwordCheckIcon.addClass('input-value-check-img-item1');
            return true;
        }
    }

    $('#memberSaveForm-input4').blur(passwordBlurHandler);

    // 비밀번호 표시
    const passwordInput = document.getElementById('memberSaveForm-input4');
    const inputTypeChange = document.getElementById('input-type-change');

    inputTypeChange.addEventListener('click', function() {
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            inputTypeChange.innerText = '숨기기';
        } else {
            passwordInput.type = 'password';
            inputTypeChange.innerText = '비밀번호 표시';
        }
    });

    passwordInput.addEventListener('input', function() {
        if (passwordInput.value.length > 0) {
            inputTypeChange.innerText = '비밀번호 표시';
            inputTypeChange.style.cursor = "pointer";
            inputTypeChange.style.paddingRight = "8px";
            inputTypeChange.style.fontWeight = "600";
        } else {
            inputTypeChange.innerText = '';
            inputTypeChange.style.paddingRight = "0";
            inputTypeChange.style.fontWeight = "normal";
        }
    });

    function isValidForm() {
        const isEmailValid = emailBlurHandler();
        const isNameValid = nameBlurHandler();
        const isNicknameValid = nicknameBlurHandler();
        const isPasswordValid = passwordBlurHandler();
        let validResult = document.getElementById("sign-up-valid-result");

        console.log("mail" + isEmailValid);
        console.log("name" + isNameValid);
        console.log("nick" + isNicknameValid);
        console.log("pass" + isPasswordValid);

        if (!isEmailValid) {
            validResult.innerText = "Enter a valid email address";
            validResult.style.color = "red";
        } else if (!isNameValid) {
            validResult.innerText = "Enter a valid name";
            validResult.style.color = "red";
        } else if (!isNicknameValid) {
            validResult.innerText = "Enter a valid user name";
            validResult.style.color = "red";
        } else if (!isPasswordValid) {
            validResult.innerText = "Enter a valid password";
            validResult.style.color = "red";
        }

        if (
            isEmailValid &&
            isNameValid &&
            isNicknameValid &&
            isPasswordValid
        ) {
            return true;
        } else {
            return false;
        }

    }

    function signup_check() {
        if (isCodeValid) {
            return true;
        } else {
            return false;
        }
    }

    function redirectToKakaoLogin() {
        window.location.href = "https://kauth.kakao.com/oauth/authorize?client_id=483c5fda5520fe4ac417eb418b63af8b&redirect_uri=http://localhost:8090/kakao/login&response_type=code";
    }


</script>
</html>
