<!DOCTYPE html>
<html lang="en">
<th:block th:fragment="config">
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/component.css}">
    <link data-default-icon="https://static.cdninstagram.com/rsrc.php/yv/r/BTPhT6yIYfq.ico" rel="shortcut icon"
          type="image/x-icon" href="https://static.cdninstagram.com/rsrc.php/yv/r/BTPhT6yIYfq.ico">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</th:block>
<body>
</body>
</html>