.boardMainForm-body {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    overflow-y: visible;
}

.boardMainForm-start {
    z-index: auto;
    position: relative;
}

.boardMainForm-start-inner {
    box-sizing: border-box;
    position: relative;
    z-index: 0;
}

.boardMainForm-flex-box {
    flex-direction: column;
    display: flex;
    position: relative;
    z-index: 0;
}

.boardMainForm-flex-box-inner {
    flex-direction: column;
    display: flex;
    position: relative;
}

.boardMainForm-min-height {
    top: 0px;
    flex-direction: column;
    min-height: calc(100vh);
    display: flex;
    position: relative;
}

.boardMainForm-min-height-inner {
    flex-direction: column;
    display: flex;
    min-height: inherit;
    position: relative;
    z-index: 0;
    margin-bottom: calc(-130vh);
}
@media (min-width: 1264px) and (max-width: 1919px) {
    .boardMainForm-min-height-inner {
        margin-bottom: calc(-130vh);
    }
}
.boardMainForm-column-box {
    height: 100%;
    overflow: visible;
    background-color: rgb(245, 245, 245);
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    position: static;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
    overflow-x: visible;
    align-self: auto;
    flex-grow: 0;
    border-radius: 0;
}

.boardMain-main-left-px {
    width: 100%;
    margin-left: auto;
}

@media (min-width: 1264px) and (max-width: 1919px) {
    .x17snn68.x17snn68 {
        width: calc(100% - 244px);
    }
}

.boardMain-main-section {
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    overflow-x: hidden;
    flex-grow: 1;
}

.boardMain-main-section-main {
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    display: flex;
    flex-grow: 1;
    order: 4;
}

.boardMain-main-section2 {
    display: flex;
    flex-flow: row nowrap;
    max-width: calc(420px + 64px + 319px);
    padding-top: 4px;
    align-items: stretch;
    border: 0;
    box-sizing: border-box;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    font: inherit;
    font-size: 100%;
    margin: 0 auto;
    padding: 0;
    position: relative;
    vertical-align: baseline;
    width: 100%;
}

.boardMain-main-section2-box {
    margin-top: 10px;
    transform: translateY(-62px);
    transition: transform .3s ease-out .2s;
    flex-shrink: 0;
    width: 100%;
    float: left;
    margin-right: 64px;
    max-width: 630px;
}

.boardMain-main-section2-box-margin {
    height: 56px;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    opacity: 1;
    padding-bottom: 0;
    padding-top: 14px;
    transition: opacity ease-out .3s;
}

.boardMain-main-section2-story-box {
    border: none;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    margin-bottom: 0;
    margin-top: 16px;
    padding: 16px 0;
    box-sizing: border-box;
    display: block;
    overflow-y: hidden;
    position: relative;
}

.boardMain-main-section2-story-box-inner {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    height: 85px;
    outline: none;
    overflow-y: hidden;
    position: relative;
}

.boardMain-main-section2-story {
    align-items: stretch;
    border: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    font: inherit;
    font-size: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    vertical-align: baseline;
    width: 100%;
}

.boardMain-main-section2-story-aap0 {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    height: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

.boardMain-main-section2-story-aap1 {
    align-items: stretch;
    border: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    font: inherit;
    font-size: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    vertical-align: baseline;
}

.boardMain-main-section2-story-item-box {
    list-style-type: none;
    border: 0;
    display: flex;
    flex-direction: row;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

.boardMain-main-section2-story-back-btn {
    left: 0;
    cursor: pointer;
    padding: 0 0 12px 0;
    margin: 0 8px;
    background: transparent;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(0, 0, 0);
    font-size: 14px;
    line-height: 18px;
}

.boardMain-main-section2-story-back-btn-img {
    background-image: url(../images/ZWR9C7_JdnP.png);
    background-repeat: no-repeat;
    background-position: -294px -226px;
    height: 45px;
    width: 45px;
}

.boardMain-main-section2-story-next-btn {
    right: 0;
    cursor: pointer;
    padding: 0 0 12px 0;
    margin: 0 8px;
    background: transparent;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(0, 0, 0);
    font-size: 14px;
    line-height: 18px;
}

.boardMain-main-section2-story-next-btn-img {
    background-image: url(../images/ZWR9C7_JdnP.png);
    background-repeat: no-repeat;
    background-position: -294px -273px;
    height: 45px;
    width: 45px;
}

.boardMain-main-section2-story-item {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    /*padding: 0;*/
    /*position: absolute;*/
    padding-right: 14px;
    vertical-align: baseline;

}

.boardMain-main-section2-story-item-inner {
    width: 66px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 122px;
    padding: 0 4px;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    top: 2px;
}

.boardMain-main-section2-story-item-btn {
    border-left: none;
    border-right: none;
    background-color: transparent;
    padding-top: 0;
    flex-direction: column;
    align-self: center;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
    width: 64px;
    padding-bottom: 0;
    border-top: none;
    border-bottom: none;
    color: rgb(0, 0, 0);
    font-size: 14px;
    line-height: 18px;
    margin: 0;
}

.boardMain-main-section2-story-item-img {
    align-self: center;
    display: block;
    flex: none;
    position: relative;
    margin-top: 4px;
    margin-bottom: 8px;
}

.gkrltlfgdjdywlsWK {
    height: 56px;
    width: 56px;
    background-color: rgb(250, 250, 250);
    box-sizing: border-box;
    overflow-x: hidden;
    flex-shrink: 0;
    position: relative;
    display: block;
    border-radius: 50%;
    overflow-y: hidden;
}

.dlalwlfkqslek {
    padding-left: 0;
    font-size: 100%;
    width: 100%;
    padding-top: 0;
    margin-top: 0;
    border-left: 0;
    margin-bottom: 0;
    height: 100%;
    padding-right: 0;
    margin-left: 0;
    border-right: 0;
    padding-bottom: 0;
    vertical-align: baseline;
    margin-right: 0;
    border-bottom: 0;
    border-top: 0;
    border: 0;
}

dlalwlfkqslek:after {
    border-bottom-left-radius: 50%;
    border-right: 1px solid rgba(0, 0, 0, .0975);
    border-left: 1px solid rgba(0, 0, 0, .0975);
    border-bottom-right-radius: 50%;
    pointer-events: none;
    bottom: 0;
    border-top-right-radius: 50%;
    content: "";
    right: 0;
    top: 0;
    position: absolute;
    border-top-left-radius: 50%;
    left: 0;
    border-top: 1px solid rgba(0, 0, 0, .0975);
    border-bottom: 1px solid rgba(0, 0, 0, .0975);
}

.boardMain-main-section2-story-item-text {
    display: block;
    color: rgb(0, 0, 0);
    font-weight: 400;
    margin: 0;
    font-size: 12px;
    line-height: 16px;
}

.tkffuwntpdy {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 74px;
    padding-right: 2px;
    box-sizing: border-box;
    overflow-x: hidden;
    text-align: center;
    letter-spacing: .01em;
    position: relative;
    display: block;
    padding-left: 2px;
    overflow-y: hidden;
}

._aarh {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.boardMain-main-list-box {
    width: 100%;
    background-color: transparent;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: static;
    overflow-x: visible;
    overflow-y: visible;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.boardMain-main-list-inner {
    max-width: 470px;
    width: 100%;
}

.boardMain-main-list-form {
    margin-top: 16px;
    overflow-y: visible;
    align-content: stretch;
    border-bottom-left-radius: 0;
    background-color: transparent;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    border-bottom-right-radius: 0;
    align-items: stretch;
    overflow-x: visible;
    justify-content: flex-start;
    position: relative;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.boardMain-main-list-form-inner {
    display: flex;
    flex-direction: column;
    /*padding-bottom: 23129px;*/
    padding-top: 0px;
    position: relative;
}

.boardMain-main-list-item-box {
    max-height: inherit;
    padding: 0;
    margin-bottom: 12px;
    padding-bottom: 20px !important;
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(219, 219, 219);
    /*border: 1px solid rgb(219, 219, 219);*/
}
.boardMain-main-list-item-inner {
    max-height: inherit;
    max-width: inherit;
    background-color: transparent;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    position: relative;
    overflow-x: visible;
    overflow-y: visible;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.boardMain-main-item-writer-box {
    background-color: rgb(255,255,255);
    border-bottom: none;
    border-radius: 8px;
}
.boardMain-main-item-writer-inner {
    overflow-y: visible;
    border-bottom-left-radius: 0;
    background-color: transparent;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 0;
    justify-content: space-between;
    flex-direction: row;
    overflow-x: visible;
    position: relative;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.boardMain-main-item-writer {
    margin: 8px 4px 8px 5px;
    padding: unset;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: calc(100% - 48px);
    position: relative;
}
.boardMain-main-item-profile {
    height: 32px;
    width: 32px;
    background-color: rgb(250, 250, 250);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-style: solid;
    border-top-color: rgba(0, 0, 0, 0.4);
    border-right-style: solid;
    border-right-color: rgba(0, 0, 0, 0.4);
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.4);
    border-left-style: solid;
    border-left-color: rgba(0, 0, 0, 0.4);
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
    z-index: 0;
    list-style: none;
}
.boardMain-item-profile {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
.boardMain-item-profile:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid rgba(0, 0, 0, 0.0975);
    border-radius: 50%;
    pointer-events: none;
}
.boardMain-main-item-writer-time {
    justify-content: center;
    margin-left: 10px;
    min-height: 40px;
    align-items: flex-start;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
    position: relative;
}
.main-item-writer {
    box-sizing: border-box;
    flex-grow: 1;
    flex-shrink: 1;
    font: inherit;
    font-size: 100%;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
    padding: 2px;
    position: relative;
    top: 1px;
    vertical-align: baseline;
}
.main-item-writer1 {
    background-color: transparent;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    overflow-x: visible;
    overflow-y: visible;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.main-item-writer2 {
    line-height: 18px;
    font-size: 14px;
    overflow-y: visible;
    min-width: 0;
    margin-bottom: 0!important;
    color: rgb(0,0,0);
    margin-right: 0!important;
    word-wrap: break-word;
    font-weight: 600;
    overflow-x: visible;
    position: relative;
    display: block;
    max-width: 100%;
    margin-left: 0!important;
    word-break: break-word;
    margin-top: 0!important;
}
.main-item-writer2:before {
    display: block;
    content: "";
    height: 0;

}
.main-item-writer2:after {
    display: block;
    content: "";
    height: 0;

}
.main-item-writer3 {
    color: rgb(38, 38, 38);
    background-color: transparent;
    text-decoration: none;
    border: 0;
    display: inline-block;
    padding: 0!important;
    position: relative;
    width: auto;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: inherit;
    box-sizing: border-box;
    cursor: pointer;
    pointer-events: auto;
    touch-action: manipulation;
    outline: none;
    -webkit-user-select: auto;
    -webkit-appearance: none;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    list-style: none;
}

.boardMain-main-board-time-box {
    overflow-y: visible;
    border-bottom-left-radius: 0;
    background-color: transparent;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 0;
    flex-shrink: 0;
    flex-direction: row;
    overflow-x: visible;
    align-self: auto;
    justify-content: flex-start;
    position: relative;
    flex-grow: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

}
.boardMain-main-board-time-box-inner {
    line-height: 18px;
    font-size: 14px;
    overflow-y: visible;
    font-weight: 400;
    min-width: 0;
    margin-bottom: 0!important;
    margin-right: 0!important;
    word-wrap: break-word;
    color: rgb(115,115,115);
    overflow-x: visible;
    position: relative;
    display: block;
    max-width: 100%;
    margin-left: 0!important;
    word-break: break-word;
    margin-top: 0!important;
}
.boardMain-main-board-time-box-inner:before {
    display: block;
    content: "";
    height: 0;
}
.boardMain-main-board-time-box-inner:after {
    display: block;
    content: "";
    height: 0;
}
.boardMain-main-board-time-item1 {
    margin-left: 4px;
    margin-right: 4px;
    color: rgb(115,115,115);
    display: inline;
}
.boardMain-main-board-plus-btn {
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 8px;
    color: rgb(0,0,0);
    font-size: 14px;
    line-height: 18px;
    margin: 0;
}
.boardMain-main-board-plus-btn-img-box {
    height: 24px;
    width: 24px;
    overflow-y: visible;
    border-bottom-left-radius: 0;
    justify-content: center;
    background-color: transparent;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 0;
    flex-shrink: 0;
    overflow-x: visible;
    align-self: auto;
    position: relative;
    flex-grow: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
._ab6- {
    display: block;
    position: relative;
}
.boardMain-main-board-img-box {
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid rgb(239,239,239);
    background-color: rgb(255,255,255);
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    position: relative;
}
.boardMain-main-board-img-box-inner {
    align-items: stretch;
    border: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    font: inherit;
    font-size: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    vertical-align: baseline;

}
.img-padding-size {
    padding-bottom: 125%;
    border: 0;
    box-sizing: border-box;
    display: block;
    font: inherit;
    font-size: 100%;
    margin: 0;
    position: relative;
    vertical-align: baseline;

}
.boardMain-main-board-box {
    overflow-y: visible;
    border-bottom-left-radius: 0;
    background-color: transparent;
    flex-direction: column;
    right: 0;
    box-sizing: border-box;
    display: flex;
    border-bottom-right-radius: 0;
    align-items: stretch;
    overflow-x: visible;
    justify-content: flex-start;
    bottom: 0;
    left: 0;
    border-top-left-radius: 0;
    top: 0;
    border-top-right-radius: 0;
    position: absolute;
}
._aao_ {
    lign-items: stretch;
    border: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    font: inherit;
    font-size: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    vertical-align: baseline;
    width: 100%;
}
._aao_0 {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    height: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}
._aap1 {
    align-items: stretch;
    border: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    font: inherit;
    font-size: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    vertical-align: baseline;
}
._acay {
    border: 0;
    display: flex;
    flex-direction: row;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    list-style-type: none;
}
.boardMain-main-board-item {
    transform: translateX(0px);
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    vertical-align: baseline;
}
.boardMain-main-board-item-inner {
    width: 468px;
    overflow-y: visible;
    border-bottom-left-radius: 0;
    background-color: transparent;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    border-bottom-right-radius: 0;
    align-items: stretch;
    overflow-x: visible;
    justify-content: flex-start;
    position: relative;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.main-board-item-inner {
    padding: 0;
    font-size: 100%;
    touch-action: manipulation;
    flex-direction: column;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    align-items: stretch;
    position: relative;
    vertical-align: baseline;
}
._aato {
    max-height: inherit;
    background-color: rgb(239,239,239);
    display: block;
    width: 100%;
    position: relative;
}
._aagv {
    padding-bottom: 125%;
    display: block;
    overflow: hidden;
    position: relative;
}
.main-board-item {
    object-fit: cover;
    left: 0;
    width: 100%;
    user-select: none;
    height: 100%;
    top: 0;
    position: absolute;
    border: 0;
}
._aagw {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.boardMain-main-board-contents-box {
    overflow-y: visible;
    align-content: stretch;
    border-bottom-left-radius: 0;
    background-color: transparent;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    border-bottom-right-radius: 0;
    flex-shrink: 0;
    align-items: stretch;
    overflow-x: visible;
    align-self: auto;
    justify-content: flex-start;
    position: relative;
    flex-grow: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.boardMain-board-paging-left {
    margin: 0;
    color: rgb(0,0,0);
    font-size: 14px;
    line-height: 18px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    outline: none;
    left: 0;
    cursor: pointer;
    padding: 16px 8px;
}
.boardMain-board-paging-right {
    right: 0;
    cursor: pointer;
    padding: 16px 8px;
    background: transparent;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(0,0,0);
    font-size: 14px;
    line-height: 18px;
    margin: 0;
}
._9zm0 {
    background-image: url(../images/TJztmXpWTmS.png);
    background-repeat: no-repeat;
    background-position: -130px -98px;
    height: 30px;
    width: 30px;
}
._9zm2 {
    background-image: url(../images/TJztmXpWTmS.png);
    background-repeat: no-repeat;
    background-position: -162px -98px;
    height: 30px;
    width: 30px;
}
.boardMain-board-paging-num {
    flex-direction: row;
    display: flex;
    align-items: center;
    bottom: 15px;
    justify-content: center;
    left: 6px;
    pointer-events: none;
    position: absolute;
    right: 6px;
}
.boardMain-board-paging-num-off {
    opacity: 1;
    background: rgb(255,255,255);
    margin-right: 4px;
    border-radius: 50%;
    height: 6px;
    transition: all .2s ease-in-out;
    width: 6px;
}
.boardMain-board-paging-num-on {
    background: rgb(255,255,255);
    opacity: .4;
    margin-right: 4px;
    border-radius: 50%;
    height: 6px;
    transition: all .2s ease-in-out;
    width: 6px;
}
.boardMain-main-board-contents-box-inner {
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    position: relative;
    border-radius: 8px;
    background-color: rgb(255,255,255);
}
.board-contents-box {
    border: none;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-width: 335px;
    position: relative;
    width: 100%;
}
.board-contents-box-item-box{
    padding-bottom: 6px;
    padding-top: 0;
    display: flex;
    flex-direction: row;
    overflow: visible;
    padding-left: 0;
    padding-right: 0;
    margin-top: 4px;
}
.contents-bookMark {
    border: 0;
    display: inline-block;
    font: inherit;
    font-size: 100%;
    margin: 0;
    margin-left: auto;
    margin-right: -10px;
    padding: 0;
    vertical-align: baseline;
}
.board-contents-like-btn {
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 8px;
    color: rgb(0,0,0);
    font-size: 14px;
    line-height: 18px;
    margin: 0;
}
.like-btn-logo-form {
    align-items: center;
    display: flex;
    justify-content: center;
}
.like-title {
    position: relative;
    display: block;
}
.board-contents-comment-btn {
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 8px;
    color: rgb(0,0,0);
    font-size: 14px;
    line-height: 18px;
    margin: 0;
}
.comment-btn-logo-form {
    align-items: center;
    display: flex;
    justify-content: center;

}
.comment-title {
    position: relative;
    display: block;
}
.board-contents-bookMark-btn {
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 8px;
    color: rgb(0,0,0);
    font-size: 14px;
    line-height: 18px;
    margin: 0;
}
.bookMark-btn-logo-form {
    align-items: center;
    display: flex;
    justify-content: center;
}
.bookMark-title {
    position: relative;
    display: block;
}
.board-contents-like-count-box  {
    margin-bottom: 8px;
    overflow: visible;
    padding-left: 0;
    padding-right: 0;
}
.board-contents-like-count {
    overflow-y: visible;
    border-bottom-left-radius: 0;
    background-color: transparent;
    min-width: 0;
    box-sizing: border-box;
    display: flex;
    border-bottom-right-radius: 0;
    min-height: 0;
    align-items: stretch;
    flex-direction: row;
    overflow-x: visible;
    justify-content: flex-start;
    position: relative;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.contents-like-count-box {
    overflow-y: visible;
    margin-top: auto;
    align-content: stretch;
    border-bottom-left-radius: 0;
    margin-right: auto;
    background-color: transparent;
    min-width: 0;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    border-bottom-right-radius: 0;
    margin-bottom: auto;
    min-height: 0;
    overflow-x: visible;
    align-self: auto;
    justify-content: flex-start;
    position: relative;
    flex-grow: 1;
    margin-left: auto;
    align-items: flex-start;
    flex-wrap: wrap;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.like-count-box-size {
    line-height: 18px;
    font-size: 14px;
    overflow-y: visible;
    font-weight: 400;
    min-width: 0;
    margin-bottom: 0!important;
    color: rgb(0,0,0);
    margin-right: 0!important;
    word-wrap: break-word;
    overflow-x: visible;
    position: relative;
    display: block;
    max-width: 100%;
    margin-left: 0!important;
    word-break: break-word;
    margin-top: 0!important;
}
.like-count-box-size:before {
    display: block;
    content: "";
    height: 0;
}
.like-count-box-size:after {
    display: block;
    content: "";
    height: 0;
}
.like-count-list-link {
    color: rgb(0, 55, 107);
    display: inline;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    text-align: inherit;
    list-style: none;
    text-decoration: none;
    outline: none;
}
.like-count-text {
    line-height: 18px;
    font-size: 14px;
    display: inline;
    min-width: 0;
    margin: 0!important;
    color: rgb(0, 0, 0);
    word-wrap: break-word;
    font-weight: 600;
    max-width: 100%;
}
.board-contents-comment-small-list {
     overflow: visible;
     padding: 0;
     margin: 0 0 auto;
     display: flex;
     flex-direction: column;
     flex-grow: 1;
     flex-shrink: 1;
     min-height: 0;
     position: relative;
 }
.board-contents-comment-small {
    overflow: visible;
    background-color: transparent;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    align-items: stretch;
    align-self: auto;
    justify-content: flex-start;
    position: relative;
    flex-grow: 0;
    border-radius: 0;
}
.board-contents-comment-open {
    overflow: visible;
    background-color: transparent;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    align-self: auto;
    justify-content: flex-start;
    position: relative;
    overflow-x: visible;
    align-items: flex-start;
    flex-grow: 0;
    border-radius: 0;
    margin-bottom: 8px;
}
.board-contents-detail {
    text-decoration: none;
    color: rgb(0, 55, 107);
    display: inline;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    text-align: inherit;
    list-style: none;
    outline: none;
}
.board-contents-comment-count {
    line-height: 18px;
    font-size: 14px;
    overflow: visible;
    font-weight: 400;
    min-width: 0;
    margin: 0!important;
    word-wrap: break-word;
    color: rgb(115, 115, 115);
    position: relative;
    display: block;
    max-width: 100%;
    word-break: break-word;
}
.board-contents-comment-count:before {
    display: block;
    content: "";
    height: 0;
}
.board-contents-comment-count:after {
    display: block;
    content: "";
    height: 0;
}
.board-contents-text-box {
    overflow: visible;
    background-color: transparent;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    align-items: stretch;
    align-self: auto;
    justify-content: flex-start;
    position: relative;
    overflow-x: visible;
    flex-grow: 0;
    border-radius: 0;
    margin-bottom: 8px;
}
.board-contents-text {
    overflow-y: visible;
    border-bottom-left-radius: 0;
    background-color: transparent;
    min-width: 0;
    box-sizing: border-box;
    border-bottom-right-radius: 0;
    min-height: 0;
    overflow-x: visible;
    align-self: auto;
    position: relative;
    display: block;
    flex-grow: 1;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.board-contents-writer {
    text-decoration: none;
    color: rgb(0, 55, 107);
    display: inline;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    text-align: inherit;
    list-style: none;
    outline: none;
}
.djelRKwlemfdjrk {
    display: inline!important;
    margin: 0!important;
    color: rgb(0,0,0);
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}
.wkrtjdwkdlqfur {
    overflow-y: visible;
    border-bottom-left-radius: 0;
    background-color: transparent;
    box-sizing: border-box;
    border-bottom-right-radius: 0;
    display: inline-block;
    overflow-x: visible;
    position: relative;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.board-contents-margin {
    display: inline!important;
    margin: 0!important;
    color: rgb(0,0,0);
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}
.board-contents-text-contents {
    display: inline!important;
    margin: 0!important;
    color: rgb(0,0,0);
    font-weight: 400;
}
.board-contents-text-contents-inner {
    display: inline!important;
    margin: 0!important;
    color: rgb(0,0,0);
    font-weight: 400;
    padding: 0;
    font-size: 14px;
    line-height: 18px;
}
.board-contents-comment-small-list1 {
    overflow-y: visible;
    border-bottom-left-radius: 0;
    background-color: transparent;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    border-bottom-right-radius: 0;
    flex-shrink: 0;
    align-items: stretch;
    overflow-x: visible;
    align-self: auto;
    justify-content: flex-start;
    position: relative;
    flex-grow: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 4px;
}
.board-contents-comment-small1 {
    overflow-y: visible;
    border-bottom-left-radius: 0;
    background-color: transparent;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 0;
    flex-shrink: 0;
    flex-direction: row;
    overflow-x: visible;
    align-self: auto;
    justify-content: flex-start;
    position: relative;
    flex-grow: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 4px;
}
.board-contents-comment-box {
    overflow-y: visible;
    box-sizing: border-box;
    border-bottom-right-radius: 0;
    min-height: 0;
    overflow-x: visible;
    align-self: auto;
    position: relative;
    display: block;
    flex-grow: 1;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.comment-save-form {
    border: none;
    padding: 0!important;
    color: rgb(115,115,115);
    flex-shrink: 0;
    font-size: 14px;
    line-height: 18px;
    position: relative;
}
.comment-save-form-tag {
    border: 0;
    display: flex;
    flex-direction: row;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
}
.comment-save-form-size {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
.comment-textarea {
    height: 18px !important;
    border: none;
    background-color: rgb(255, 255, 255);
    resize: none;
    width: 0;
    max-height: 80px;
    padding: 0;
    display: flex;
    color: rgb(0, 0, 0);
    font-size: inherit;
    flex-grow: 1;
    outline: none;
    line-height: 18px;
    max-width: 100%;
    -webkit-appearance: none;
    border: 1px solid #ccd0d5;
    border-radius: 0;
    margin: 0;
}
.comment-textarea-btn {
    font-weight: 600;
    display: inline;
    border-bottom-color: rgba(0, 0, 0, 0.4);
    border-top-left-radius: 2px;
    border-left-width: 0;
    text-overflow: ellipsis;
    padding: 0;
    appearance: none;
    border-top-color: rgba(0, 0, 0, 0.4);
    background-color: transparent;
    touch-action: manipulation;
    min-width: 0;
    margin: 0;
    border-right-style: none;
    border-right-width: 0;
    box-sizing: border-box;
    border-top-width: 0;
    user-select: none;
    min-height: 0;
    border-left-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    cursor: pointer;
    border-top-right-radius: 2px;
    outline-style: none;
    border-bottom-style: none;
    border-bottom-width: 0;
    position: relative;
    z-index: 0;
    -webkit-tap-highlight-color: transparent;
    font-size: 0.875rem;
    padding-bottom: 0;
    line-height: 18px;
    border-left-style: none;
    color: rgb(0, 149, 246);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    list-style: none;
    text-decoration: none;
    outline: none;
}
.comment-textarea-btn:hover {
    color: rgba(0,0,0,0.4);
}
.board-save-form-layout-back {
    position: fixed;
    right: 0;
    background-color: rgba(0,0,0,0.65);
    bottom: 0;
    left: 0;
    top: 0;
}
.board-save-form-layout-off {
    z-index: 1;
    top: 10px;
    right: 10px;
    position: absolute;
}
.board-save-form-layout-off-padding {
    padding: 8px;
    justify-content: center;
    background-color: transparent;
    touch-action: manipulation;
    margin: 0;
    border-style: none;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    text-align: inherit;
    list-style: none;
    text-decoration: none;
    outline: none;
}
.tpdlqmvhaekerl {
    position: relative;
    display: block;
}
.board-save-form-inherit {
    max-height: inherit;
    justify-content: inherit;
    flex-grow: inherit;
    min-width: inherit;
    height: inherit;
    min-height: inherit;
    width: inherit;
    position: relative;
    max-width: inherit;
    display: inherit;
    align-items: inherit;
    flex-direction: inherit;
    flex-shrink: inherit;
}
.board-save-form-1 {
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    flex-grow: 1;
}
.board-save-form-lr {
    justify-content: center;
    min-width: 0;
    box-sizing: border-box;
    display: flex;
    pointer-events: none;
    min-height: 0;
    align-items: flex-start;
}
.board-save-form-box {
    justify-content: center;
    flex-direction: column;
    display: flex;
    pointer-events: all;
    align-items: center;
    overflow-x: hidden;
    position: relative;
    z-index: 0;
    box-sizing: content-box;
    overflow-y: hidden;
    outline: none;
}
.board-save-form-box-padding {
    flex-shrink: 1;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    position: relative;
    max-height: calc(100% - 40px);
    margin-right: 20px;
}
.board-save-form-box-inner {
    border-bottom-left-radius: 12px;
    overflow-x: auto;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    max-height: calc(100vh - 40px);
    background-color: rgb(255,255,255);
    overflow-y: auto;
    border-top-right-radius: 12px;
}
.djelRKwlrkskqhwk {
    border-bottom-left-radius: 0;
    background-color: transparent;
    min-width: 0;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
    border-bottom-right-radius: 0;
    min-height: 0;
    align-items: stretch;
    justify-content: flex-start;
    position: relative;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.board-save-form-top-box {
    width: 100%;
    overflow-y: visible;
    border-bottom-left-radius: 0;
    background-color: transparent;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    border-bottom-right-radius: 0;
    flex-shrink: 0;
    align-items: stretch;
    overflow-x: visible;
    align-self: auto;
    justify-content: flex-start;
    position: relative;
    flex-grow: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
._ac76 {
    border-bottom: 1px solid rgb(219,219,219);
    box-sizing: border-box;
    display: inline-block;
    height: calc(44px - 1px );
    position: relative;
    width: 100%;
}
.dlrjsEhanjsepmm {
    height: 100%;
    width: 100%;
    overflow-y: visible;
    border-bottom-left-radius: 0;
    justify-content: center;
    background-color: transparent;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 0;
    overflow-x: visible;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    position: absolute;
}
.dlrjsEhanjsepmm-text-box {
    width: calc(100% - 0px);
    align-items: center;
    border: 0;
    color: rgb(0,0,0);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font: inherit;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    margin: 0;
    min-width: 0;
    padding: 0;
    text-align: center;
    vertical-align: baseline;
}

._ac7a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.anjswlahfmfdhlsWhr {
    float: left;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: relative;
}
.anjswlahfmfdhfmsWHr {
    float: right;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: relative;
}
.board-save-form-main-img-box {
    width: 718px;
    height: calc(100vmin - 112px - 43px - 64px);
    flex-shrink: 1;
    flex-basis: auto;
}
.board-save-form-main-img-box-inner {
    opacity: 1;
    justify-content: center;
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
}
.board-save-form-main-img-inner {
    height: 100%;
    width: 100%;
    overflow-y: visible;
    border-bottom-left-radius: 0;
    justify-content: center;
    background-color: transparent;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 0;
    flex-shrink: 0;
    overflow-x: visible;
    align-self: auto;
    position: relative;
    flex-grow: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.board-save-form-main-img {
    height: 100%;
    width: 100%;
    padding-right: 24px;
    padding-bottom: 24px;
    overflow-y: visible;
    border-bottom-left-radius: 0;
    justify-content: center;
    background-color: transparent;
    flex-direction: column;
    padding-left: 24px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 0;
    flex-shrink: 0;
    overflow-x: visible;
    padding-top: 24px;
    align-self: auto;
    position: relative;
    flex-grow: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.board-save-form-svg {
    display: block;
    position: relative;
}
.tkwlsrhkehddudtkd {
    margin-top: 16px;
    overflow-y: visible;
    border-bottom-left-radius: 0;
    background-color: transparent;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    border-bottom-right-radius: 0;
    flex-shrink: 0;
    align-items: stretch;
    overflow-x: visible;
    align-self: auto;
    justify-content: flex-start;
    position: relative;
    flex-grow: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.tkwlsrhkehddudtkd-text {
    line-height: 25px;
    overflow-y: visible;
    font-weight: 400;
    min-width: 0;
    margin-bottom: 0!important;
    color: rgb(0,0,0);
    text-align: center;
    margin-right: 0!important;
    word-wrap: break-word;
    overflow-x: visible;
    position: relative;
    font-size: 20px;
    display: block;
    max-width: 100%;
    margin-left: 0!important;
    word-break: break-word;
    margin-top: 0!important;
}
.tkwlsrhkehddudtkd-text:before{
    margin-top: -4px;
    display: block;
    content: "";
    height: 0;
}
.tkwlsrhkehddudtkd-text:after{
    margin-bottom: -6px;
    display: block;
    content: "";
    height: 0;
}
.tkwlsrhkehddudtkd-btn-box {
    overflow-y: visible;
    margin-top: 24px;
    border-bottom-left-radius: 0;
    background-color: transparent;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 0;
    flex-shrink: 0;
    flex-direction: row;
    overflow-x: visible;
    align-self: auto;
    justify-content: flex-start;
    position: relative;
    flex-grow: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.tkwlsrhkehddudtkd-btn-box-inner {
    overflow-y: visible;
    border-bottom-left-radius: 0;
    padding-bottom: 4px;
    background-color: transparent;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    border-bottom-right-radius: 0;
    flex-shrink: 0;
    align-items: stretch;
    overflow-x: visible;
    align-self: auto;
    justify-content: flex-start;
    position: relative;
    padding-top: 4px;
    padding-left: 4px;
    flex-grow: 0;
    border-top-left-radius: 0;
    padding-right: 4px;
    border-top-right-radius: 0;
}
.img-upload-btn {
    margin: 0;
    line-height: 18px;
    -webkit-appearance: none;
    background: none;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: 600;
    padding: 7px 16px!important;
    pointer-events: auto;
    text-overflow: ellipsis;
    text-transform: inherit;
    -webkit-user-select: none;
    width: auto;
    text-align: center;
    background-color: rgb(0,149,246);
    border-radius: 8px;
    color: white;
}
.img-upload-btn:hover {
    background-color: rgb(24, 119, 242);
}
.img-input- {
    display: none!important;
    color: rgb(0,0,0);
    font-size: 14px;
    line-height: 18px;
}