.memberPassRest {
    background: rgb(255,255,255);
    color: rgb(0,0,0);
    font-size: 14PX;
    line-height: 18px;
    margin: 0;
    overflow-y: visible;
}
.tl-back-ground-1 {
    box-sizing: border-box;
    position: relative;
    z-index: 0;
}
.tl-back-ground-2 {
    flex-direction: column;
    display: flex;
    position: relative;
    z-index: 0;
}
.tl-back-ground-3 {
    flex-direction: column;
    display: flex;
    position: relative;
}
.tl-back-ground-4 {
    flex-direction: column;
    min-height: calc(100vh - 0px);
    display: flex;
    position: relative;
}
.tl-back-ground-5 {
    flex-direction: column;
    display: flex;
    min-height: inherit;
    position: relative;
    z-index: 0;
    margin-bottom: calc(-100vh + 0px);
}
.tl-back-ground-6 {
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    overflow-x: hidden;
    flex-grow: 1;
    overflow-y: hidden;
}
.memberPassRest-main {
    background-color: rgb(255,255,255);
    align-items: stretch;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    margin: 0;
    order: 4;
    padding: 0;
    position: relative;
}
.memberPassRest-header {
    align-items: center;
    background-color: rgb(255,255,255);
    border-bottom: 1px solid rgb(219,219,219);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 60px;
    position: fixed;
    top: 0;
    transition: height .2s ease-in-out;
    width: 100%;
    z-index: 3;
}
.memberPassRest-logo-1 {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    height: 60px;
    justify-content: center;
    max-width: calc(935px + 40px);
    padding: 0 20px;
    transition: height .2s ease-in-out;
    width: 100%;
    z-index: 10;
}
.logo-box-1 {
    flex: 1 0 127px;
}
.logo-box-1-1 {
    flex: 1 0 127px;
    position: relative;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.Rhcoddl {
    align-items: stretch;
    border: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    padding-left: 24px;
    position: relative;
    vertical-align: baseline;
    white-space: nowrap;
}
.logo-box-inner-1 {
    overflow-y: visible;
    background-color: transparent;
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    overflow-x: visible;
    justify-content: flex-start;
    position: relative;
    border-radius: 0;
}
.logo-box-index-link {
    color: rgb(0,55,107);
    text-decoration: none;
    display: inline;
    padding: 0;
    background-color: transparent;
    touch-action: manipulation;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    text-align: inherit;
    margin: 0;
    list-style: none;
    outline: none;
}
.logo-link-inner {
    overflow-y: visible;
    border-radius: 0;
    background-color: transparent;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow-x: visible;
    justify-content: flex-start;
    position: relative;
}
.memberPassRest-logo- {
    align-items: stretch;
    border: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    margin-top: 7px;
    padding: 0;
    position: relative;
    transition: opacity .1s ease-out;
    vertical-align: baseline;
}
._ab6- {
    display: block;
    position: relative;
}
.memberPassRest-main-form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    margin: 44px 0;
    overflow: hidden;
}
.form-body {
    background-color: rgb(255,255,255);
    border: 1px solid rgb(219,219,219);
    border-radius: 3px;
    margin: 60px auto 0;
    max-width: 935px;
    overflow: hidden;
}
.form-body-1 {
    overflow-y: visible;
    border-radius: 0;
    background-color: transparent;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    overflow-x: visible;
    justify-content: flex-start;
    position: relative;
}
.form-body-box {
    max-width: 388px;
    overflow-y: visible;
    border-radius: 0;
    justify-content: center;
    margin-right: auto;
    background-color: transparent;
    min-width: 0;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    min-height: 0;
    align-items: stretch;
    overflow-x: visible;
    align-self: auto;
    position: relative;
    flex-grow: 1;
    margin-left: auto;
}
.form-body-box-1 {
    overflow-y: visible;
    border-radius: 0;
    background-color: transparent;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    align-items: stretch;
    overflow-x: visible;
    align-self: auto;
    justify-content: flex-start;
    position: relative;
    flex-grow: 0;
}
.memberPassRest-form-logo {
    overflow-y: visible;
    margin-top: 24px;
    border-radius: 0;
    background-color: transparent;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 16px;
    overflow-x: visible;
    align-self: auto;
    justify-content: flex-start;
    position: relative;
    flex-grow: 0;
}
.memberPassRest-form-logo-1 {
    background-repeat: no-repeat;
    background-position: -130px 0;
    height: 96px;
    width: 96px;
    background-image: url(../images/TJztmXpWTmS.png);
}
.memberPassRest-form-q-m {
    overflow-y: visible;
    align-content: stretch;
    border-radius: 0;
    background-color: transparent;
    flex-direction: column;
    margin: 0 44px 16px 44px;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    align-items: stretch;
    overflow-x: visible;
    align-self: auto;
    justify-content: flex-start;
    position: relative;
    flex-grow: 0;
}
.memberPassRest-form-q-m1 {
    line-height: 20px;
    overflow-y: visible;
    font-size: 16px;
    min-width: 0;
    margin: 0!important;
    color: rgb(0,0,0);
    text-align: center;
    word-wrap: break-word;
    font-weight: 600;
    overflow-x: visible;
    position: relative;
    display: block;
    max-width: 100%;
    word-break: break-word;
}
.memberPassRest-form-q-m1:before {
    margin-top: -3px;
    display: block;
    content: "";
    height: 0;
}
.memberPassRest-form-q-m1:after {
    display: block;
    margin-bottom: -4px;
    content: "";
    height: 0;
}
.memberPassRest-form-q-s1 {
    line-height: 18px;
    font-size: 14px;
    overflow-y: visible;
    font-weight: 400;
    min-width: 0;
    text-align: center;
    word-wrap: break-word;
    color: rgb(115,115,115);
    overflow-x: visible;
    position: relative;
    display: block;
    max-width: 100%;
    word-break: break-word;
    margin: 0!important;
}
.memberPassRest-input-label {
    align-items: center;
    border: 1px solid rgb(219,219,219);
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    padding-right: 8px;
    position: relative;
    background: rgb(250,250,250);
    outline: none!important;
    color: rgb(0,0,0);
    font-size: 12px;
    cursor: default;
    font-weight: 600;
    vertical-align: middle;
}
.memberPassRest-input-label2 {
    margin-top: 15px;
    align-items: center;
    border: 1px solid rgb(219,219,219);
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    padding-right: 8px;
    position: relative;
    background: rgb(250,250,250);
    outline: none!important;
    color: rgb(0,0,0);
    font-size: 12px;
    cursor: default;
    font-weight: 600;
    vertical-align: middle;
}

.memberPassRest-input {
    border: 0;
    width: 100%;
    border-radius: 6px;
    color: rgb(0,0,0);
    flex-grow: 1;
    font-size: 14px;
    line-height: 30px;
    margin: 0;
    overflow: visible;
    padding: 4px 9px;
    text-align: left;
    outline: none!important;
    font-weight: normal;
}
._adrs {
    border: 0;
    color: rgb(199,199,199);
    font: inherit;
    font-size: 14px;
    font-weight: 400;
    left: 0;
    margin: 3px 9px;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-overflow: ellipsis;
    transform-origin: left;
    transition: transform ease-out .1s;
    vertical-align: baseline;
    white-space: nowrap;
    outline: none!important;
}
.memberPassRest-q {
    color: rgb(0,55,107);
    font-size: 12px;
    line-height: 16px;
    margin-top: 12px!important;
    text-align: center!important;
    display: inline;
    background-color: transparent;
    touch-action: manipulation;
    margin-bottom: 0;
    box-sizing: border-box;
    cursor: pointer;
    margin-left: 0;
    -webkit-tap-highlight-color: transparent;
    padding: 0;
    margin-right: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    border: 0;
}
.memberPassRest-nbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: auto;
    height: 32px;
    min-width: 0;
    min-height: 0;
    padding: 0 16px;
    margin: 0;
    font-size: .875rem;
    font-weight: 600;
    line-height: 18px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 149, 246);
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    opacity: .3;
    user-select: none;
    pointer-events: none;
}
.xbyyjgo {
    opacity: .5;
}

.memberPassRest-nbtn- {
    font-weight: 600;
    border-left-width: 0;
    text-overflow: ellipsis;
    justify-content: center;
    appearance: none;
    border-color:  rgb(255,255,255);
    border-radius: 8px;
    touch-action: manipulation;
    padding: 0 16px 0 16px;
    min-width: 0;
    flex-basis: auto;
    border-right-style: none;
    border-right-width: 0;
    box-sizing: border-box;
    color: rgb(255,255,255);
    border-top-width: 0;
    user-select: none;
    display: flex;
    align-items: center;
    min-height: 0;
    flex-shrink: 0;
    text-align: center;
    cursor: pointer;
    background-color: rgb(0,149,246);
    border-bottom-style: none;
    border-bottom-width: 0;
    flex-direction: row;
    position: relative;
    margin: 0;
    z-index: 0;
    -webkit-tap-highlight-color: transparent;
    font-size: .875rem;
    border-top-style: none;
    line-height: 18PX;
    border-left-style: none;
    width: auto;
    height: 32px;
    list-style: none;
    text-decoration: none;
    outline: none;
}
.memberPassRest-nbtn-:hover {
    background-color: #1877F2;
}
.memberPassRest-form-q-a {
    margin: 16px 44px 16px 44px;
    overflow-y: visible;
    border-radius: 0;
    background-color: transparent;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    align-items: stretch;
    overflow-x: visible;
    align-self: auto;
    justify-content: flex-start;
    position: relative;
    flex-grow: 0;
}
.memberPassRest-form-q-a1 {
    display: flex;
    flex-direction: row;
}
.memberPassRest-form-q-a1-line {
    top: 0.45em;
    flex-shrink: 1;
    height: 1px;
    position: relative;
    flex-grow: 1;
    background-color: rgb(219,219,219);
}
.memberPassRest-form-q-a1-txt {
    text-transform: uppercase;
    margin: 0 18px 0 18px;
    padding: 0;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    font-weight: 600;
    color: rgb(115,115,115);
    align-items: stretch;
    font-size: .8125rem;
    position: relative;
    line-height: 1.1538;
    flex-grow: 0;
    border: 0;
    vertical-align: baseline;
}
.memberPassRest-memberSave-going {
    text-decoration: none;
    font-weight: 600;
    height: auto;
    display: inline;
    color: rgb(38,38,38);
    border-color:  rgba(0,0,0,0.4);
    text-overflow: ellipsis;
    padding: 0;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    min-width: 0;
    flex-basis: auto;
    box-sizing: border-box;
    user-select: none;
    min-height: 0;
    flex-shrink: 0;
    text-align: center;
    cursor: pointer;
    border-style: none;
    border-width: 0;
    position: relative;
    z-index: 0;
    -webkit-tap-highlight-color: transparent;
    font-size: .875rem;
    line-height: 18px;
    width: auto;
    border-radius: 2px;
    margin: 0;
    list-style: none;
    outline: none;
}
.memberPassRest-memberSave-going:hover {
    color: rgb(146,146,146);
}

.memberPassRest-toBack {
    margin-top: 68px;
    overflow-y: visible;
    border-radius: 0;
    background-color: transparent;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    position: static;
    align-items: stretch;
    overflow-x: visible;
    align-self: auto;
    justify-content: flex-start;
    flex-grow: 0;
}

.memberPassRest-toBack1 {
    height: 44px;
    border: 1px solid rgb(219,219,219);
    overflow-y: visible;
    border-radius: 0;
    background-color: rgb(250,250,250);
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    align-items: stretch;
    overflow-x: visible;
    align-self: auto;
    position: relative;
    justify-content: space-around;
    flex-grow: 0;
}
.memberPassRest-to-index {
    font-weight: 600;
    height: auto;
    display: inline;
    color: rgb(38,38,38);
    border-color: rgba(0,0,0,0.4);
    border-left-width: 0;
    text-overflow: ellipsis;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    min-width: 0;
    flex-basis: auto;
    border-style: none;
    border-right-width: 0;
    box-sizing: border-box;
    border-top-width: 0;
    user-select: none;
    padding: 0;
    min-height: 0;
    flex-shrink: 0;
    text-align: center;
    cursor: pointer;
    border-bottom-width: 0;
    position: relative;
    z-index: 0;
    -webkit-tap-highlight-color: transparent;
    font-size: .875rem;
    line-height: 18px;
    border-radius: 2px;
    width: auto;
    margin: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
}
.memberPassRest-to-index:hover {
    color: rgb(146,146,146);
}