.body-d {
    background: rgb(255,255,255);
    color: rgb(0,0,0);
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    overflow-y: visible;
    height: 100%;
    direction: ltr;
    padding: 0;
    unicode-bidi: embed;
}
.body-d1 {
    box-sizing: border-box;
    position: relative;
    z-index: 0;
}
.body-d2 {
    flex-direction: column;
    display: flex;
    position: relative;
    z-index: 0;
}
.body-d3 {
    flex-direction: column;
    display: flex;
    position: relative;
}
.body-d4 {
    top: 0px;
    flex-direction: column;
    min-height: calc(100vh);
    display: flex;
    position: relative;
}
.body-d5 {
    flex-direction: column;
    display: flex;
    min-height: inherit;
    position: relative;
    z-index: 0;
    margin-bottom: calc(-100vh);
}
.body-d6 {
    height: 100%;
    background-color: rgb(255,255,255);
    overflow-y: visible;
    border-radius: 0;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    position: static;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
    overflow-x: visible;
    align-self: auto;
    flex-grow: 0;
}
.body-main-1 {
    width: calc(100% - 335px);
    margin-left: auto;
}
@media (min-width: 1264px) and (max-width: 1919px){
    .body-main-1 {
        width: calc(100% - 244px);
        margin-left: auto;
    }
}
.body-main-2 {
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    overflow-x: hidden;
}
.body-user-box {
    background-color: rgb(255,255,255);
    flex-direction: column;
    display: flex;
    flex-grow: 1;
    order: 4;
}
.myPages-box {
    padding: 30px 20px 0;
    box-sizing: content-box;
    width: calc(100% - 40px);
    flex-grow: 1;
    margin: 0 auto 0;
    max-width: 935px;
}

.myPages-box-board-list {
    overflow-y: visible;
    border-radius: 0;
    background-color: transparent;
    min-width: 0;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    min-height: 0;
    align-items: stretch;
    overflow-x: visible;
    justify-content: flex-start;
    position: relative;
}

.myPages-list-form {
    display: flex;
    flex-direction: column;
    padding-bottom: 0px;
    padding-top: 0px;
    position: relative;
}

.myPage-list-line {
    align-items: stretch;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    position: relative;
    margin-bottom: 4px;
}

.myPage-board-item-box {
    flex: 1 0 0%;
    margin-right: 4px;
    display: block;
    position: relative;
    width: 100%;
}
.myPage-detail-display {
    text-decoration: none;
    color: rgb(0,55,107);
    display: inline;
    padding: 0px;
    background-color: transparent;
    list-style: none;
    margin: 0;
    border: 0;
    cursor: pointer;
}
.myPage-detail-logo-img-box {
    background-color: rgb(239,239,239);
    display: block;
    width: 100%;
    position: relative;
    width: 309px;
    height: 309px;
}
.myPage-detail-logo-inner {
    display: block;
    overflow: hidden;
    padding-bottom: 100%;
    position: relative;
}
.myPage-detail-img-size {
    object-fit: cover;
    left: 0;
    width: 309px;
    height: 309px;
    user-select: none;
    top: 0;
    position: absolute;
    border: 0;
}
.dlrjsanjwl {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.board-img-length-2 {
    align-items: flex-end;
    border: 0;
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font: inherit;
    font-size: 100%;
    justify-content: flex-start;
    left: 0;
    margin: 0;
    padding: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    vertical-align: baseline;
}
.board-img-length-2-inner {
    overflow-y: visible;
    border-radius: 0;
    background-color: transparent;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    align-items: stretch;
    overflow-x: visible;
    align-self: auto;
    justify-content: flex-start;
    position: relative;
    margin: 8px;
    flex-grow: 0;
}
.count-board-img {
    position: relative;
    display: block;
    color: rgb(255, 255, 255);
    fill: rgb(255, 255, 255);
}
.board-img-on-event {
    display: flex;
    background: rgba(0, 0, 0, 0.3);
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.board-img-on-event:hover {
    opacity: 1;
}
.board-img-on-event-ul {
    list-style: none;
    align-items: center;
    border: 0;
    display: flex;
    font: inherit;
    font-size: 100%;
    height: 100%;
    justify-content: center;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    width: 100%;
}
.board-img-on-event-li {
    border: 0;
    display: inline-flex;
    flex-direction: row-reverse;
    font: inherit;
    font-size: 100%;
    margin: 0 30px 0 0;
    padding: 0;
    vertical-align: baseline;
}
.board-img-on-event-li2 {
    border: 0;
    display: inline-flex;
    flex-direction: row-reverse;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
.board-img-on-event-li-text-box {
    line-height: 25px;
    overflow-y: visible;
    font-size: 16px;
    min-width: 0;
    color: rgb(255,255,255);
    margin: 0!important;
    font-weight: 700;
    word-wrap: break-word;
    overflow-x: visible;
    position: relative;
    display: block;
    max-width: 100%;
    word-break: break-word;
}
.board-img-on-event-li-text-box:before {
    display: block;
    content: "";
    height: 0;
}
.board-img-on-event-li-text-box:after {
    display: block;
    content: "";
    height: 0;
}
.board-img-on-event-li-logo-like {
    background-image: url(../images/TJztmXpWTmS.png);
    background-repeat: no-repeat;
    background-position: -340px -333px;
    height: 19px;
    width: 19px;
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 2px 7px 0 0;
    padding: 0;
    vertical-align: baseline;
}
.board-img-on-event-li-logo-comment {
    background-image: url(../images/TJztmXpWTmS.png);
    background-repeat: no-repeat;
    background-position: -382px -333px;
    height: 19px;
    width: 19px;
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 2px 7px 0 0;
    padding: 0;
    vertical-align: baseline;
}